<!DOCTYPE html>
<html lang="en-US">
    <head>
        <% include ../partials/head.ejs%>
    </head>
    <body>
        <% include ../partials/header.ejs%>

        <section class="inner-resources-banner re d-flex align-items-center justify-content-center" style="background-image:url(/web_assets/assets/img/resources4.jpg); background-position: 33% 12%;"></section>

        <section class="inner-pages-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="resources_content_block">
                            <h2>When should I shop for a BOP?</h2>
                            <p>A Business Owners Policy (or BOP) is a combo of three types of coverage recommended for business owners: Property, General Liability and Business Interruption. Of course you could buy each of these individually (or, as the French say, “a la carte”), but you’ll usually save money and get better coverage with a BOP.</p>
                            <p>As a business owner, it’s easy to overlook a risk you may not even be thinking about! So here’s a quick overview of what a BOP includes:</p>
                            <h3>1) COMMERCIAL GENERAL LIABILITY</h3>
                            <p>Unfortunately, lawsuits happen. General Liability coverage prepares you for lawsuits connected to 3 aspects of your business:</p>
                            <ul>
                                <li><strong>Continuing operations:</strong> That means the work you regularly do. Do you install computers? That’s a “continuing op.”</li>
                                <li><strong>Products and completed operations:</strong> The products you sell or jobs you’ve finished. The computer you left behind is a “completed op.”</li>
                                <li><strong>Personal and advertising injury:</strong> Words and images used to promote your business. If another company claims you stole their copyrighted slogan, that’s an advertising injury.</li>
                                <p>If something happens that prompts a lawsuit, you’ll be covered starting on the date the occurrence took place. Keep in mind your policy will have a payout limit per occurrence … and a total payout per year.</p>
                            </ul>
                            <h3>2) PROPERTY</h3>
                            <p>This coverage helps you replace your property after a loss. If you buy coverage outside of a BOP, you can choose from 3 levels of coverage: Basic, Broad and Special. The first 2 only cover specific types of damages. Special is the most comprehensive, covering any kind of damage as long as it’s not specifically excluded. (We’ll come back to that.)</p>
                            <p>Good news: if you’re a BOP holder, you always get the “special” top tier. You’re platinum, baby!</p>
                            <p>So when fire, theft, vandalism, volcanic eruptions or civil commotion come along (hopefully not all at once), you’ll be covered for damages to:</p>
                            <ul>
                                <li><strong>Your building: </strong> The physical space you own or rent, including permanently installed items and additional structures elsewhere on your property</li>
                                <li><strong>Your Business Personal Property (BPP): </strong> Most of the things in your space - including furniture, supplies, inventory and unfinished products</li>
                            </ul>
                            <p>Now remember those exclusions we talked about? Here are some of the things your property coverage won’t automatically help with:</p>
                            <ul>
                                <li>Equipment breakdown</li>
                                <li>Electronic data processing equipment</li>
                                <li>Money and securities</li>
                                <li>Fine arts</li>
                                <li>Valuable papers</li>
                                <li>Employee dishonesty (the #1 source of all business theft)</li>
                            </ul>
                            <p>With a BOP, your agent can add all of these coverages back in. Depending on your needs, this could be an affordable option that makes sense for you.</p>
                            <p>Annnnd …. one last complication. Some other types of property aren’t excluded but come with “sublimits.” Untangling the terminology, that means there’s not an especially big payout if they’re damaged. These include:</p>
                            <ul>
                                <li>Glass and fragile items</li>
                                <li>Furs</li>
                                <li>Gold, bullion, silver etc.</li>
                                <li>In transit products</li>
                                <li>Off premises products</li>
                            </ul>
                            <p>It’s important to know what the sublimits look like in your policy – and raise them if it makes sense for you and your stained glass window factory.</p>
                            <h3>3) BUSINESS INTERRUPTION</h3>
                            <p>Helps cover you for the loss of work time if you have property damage. (As long as your property insurance covers the type of damage.)</p>
                            <p>Let’s say you own a beauty salon. If a fire hits, you’ll probably lose income while you find a new space, chairs and other equipment – and your clients go elsewhere. Even if you run a software company and store everything you need on the Cloud, you may still have to rent a temporary office space.</p>
                            <p>Business Interruption covers you for your Actual Loss Sustained (ALS) – the amount of income you can show that you lost. Some policies also cover you for extra expenses – like an inability to fulfill a contract on time.</p>
                            <p>Bottom line: you should probably shop for a BOP. (Also, BOP is fun to say. We won’t judge.)</p>
                            <p>With a BOP, you have additional options for extending the coverages that make the most sense for you. <a href="#"> Defy's friendly licensed agents </a> are pros at knowing the specific types of damages that happen in your industry. Call us for a custom consultation on the right coverage for you.</p>
                        </div>
                    </div>
                    <div class="col-12 mt-2 mt-md-5">
                        <a class="btn btn-green" href="">Let's  Talk</a>
                    </div>
                </div>
            </div>
        </section>

        <!-- Footer Ends -->
        <% include ../partials/footer.ejs%>
    </body>
</html>