<!DOCTYPE html>
<html lang="en-US">
    <head>
        <% include ../partials/head.ejs%>
    </head>
    <body>
        <% include ../partials/header.ejs%>

        <section class="inner-resources-banner re d-flex align-items-center justify-content-center" style="background-image:url(/web_assets/assets/img/resources3.jpg); background-position: 33% 12%;"></section>

        <section class="inner-pages-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="resources_content_block">
                            <h2>Professional Liability insurance? But I do good work!</h2>
                            <p>If your broker or agent recommends professional liability insurance, don’t take it personally.</p>
                            <p>Of course you’re quality-driven and conscientious. But a customer or client could still sue you for damages that put your business (and its solid rep) at risk. That’s why you ought to have professional liability insurance. Sometimes called “errors and omissions,” it protects you from handling the entire cost of defending against a complaint about your service or work.</p>
                            <p>Let's look at some situations that could lead to claims despite all your efforts and best intentions.</p>
                            <p>1) Bodily injury, property damage or loss of use/earnings.</p>
                            <p>Someone may claim you caused physical harm to them, damaged their property or hurt their ability to work. Suppose you’re a beautician and your client has an allergic reaction to your hair dye. You could be held responsible for her medical bill even if your dye never went rogue before. And if she’s also a model (congrats on your client list!), she could sue for loss of earnings until she’s back on the runway.</p>
                            <p>2) Financial loss</p>
                            <p>Someone may claim you caused them to lose money. If you’re a financial planner with a great track record of buying and selling stocks for clients, you might advise someone to invest in a rising star company you genuinely believe in … until it goes belly-up unexpectedly. Your client may say you didn’t make her aware of the risk.</p>
                            <p>3) Consequential damages</p>
                            <p>Someone may claim you didn’t cause a direct physical or financial injury – but still did something that harmed them. Say you own a web business that hosts an ecommerce store, and a thunderstorm on your end causes your client to go down for 12 hours … on Cyber Monday. Maybe you’re thinking, “Well, that’s an act of God. By definition, it’s not an act of me!” Sorry, you could still be sued for the lost profits.</p>
                            <p>4) Defense costs</p>
                            <p>And don’t forget: even if you haven’t done a single thing wrong … you’ll still have to pay to defend your business. That can add up seriously fast. Even if your claim is thrown out (or settled out of court), you’ll need an attorney to file your paperwork and represent your business. The filing alone could run you a few grand.</p>
                            <p>The good news – professional liability insurance makes sure you’re covered for all of these situations so you can keep on building your great business … and stellar reputation.</p>
                            <p>Defy’s licensed insurance advisors are pros at knowing the specific complaints that may happen in your industry. Call us for a custom consultation on the right coverage for you.</p>
                        </div>
                    </div>
                    <div class="col-12 mt-2 mt-md-5">
                        <a class="btn btn-green" href="">Let's  Talk</a>
                    </div>
                </div>
            </div>
        </section>

        <!-- Footer Ends -->
        <% include ../partials/footer.ejs%>
    </body>
</html>