<!DOCTYPE html>
<html lang="en-US">
    <head>
        <% include ../partials/head.ejs%>
    </head>
    <body>
        <% include ../partials/header.ejs%>
        <section class="inner-resources-banner re d-flex align-items-center justify-content-center" style="background-image:url(/web_assets/assets/img/resources1.jpg); background-position: 33% 12%;"></section>

        <section class="inner-pages-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="resources_content_block">
                            <h2>Protect what matters: your business</h2>
                            <p>Congratulations on starting a business! You don’t need our help making it amazing, but we’d love to help you protect it. This quick guide can help.</p>
                            <h3>BOTTOM LINE: WHY BUSINESS INSURANCE?</h3>
                            <p>That’s easy – it’s designed to keep you in business. When certain losses come along, you can dodge bankruptcy and stay on top of your game. There are several types of coverage to head off the high costs of everything from property damage to legal claims to employee injury. (And some of them can be bundled together to save money.)</p>
                            <h3>WAIT! DOESN’T MY LLC ALREADY PROTECT ME?</h3>
                            <p>If you’re operating your business as an LLC (Limited Liability Company), your personal finances will be protected from lawsuits. If a customer slips on a spilled Merry Berry in your smoothie shop, you won’t have to pay medical expenses out of your own pocket. But your business will still be on the hook and could be bankrupted without insurance.</p>
                            <h3>AM I REQUIRED TO CARRY IT?</h3>
                            <p>In many cases you are. Most states require you to carry Workers’ Comp if you have employees. And landlords, vendors and other partners usually require you to carry General Liability insurance before they’ll enter into a contract with you.</p>
                            <h3>WHAT’S RECOMMENDED FOR A NEW BUSINESS?</h3>
                            <p>Every business is different, so this is only intended to start the conversation! The most commonly purchased types of coverage for a new or growing business include:</p>
                            <ul>
                                <li>
                                    <span><strong>Business Owner’s Policy (BOP)</strong> combines three important types of coverage to save you money: General Liability, Property and Business Interruption.</span>
                                    <span>A BOP covers property damage or personal injury that occurs in your space or while you’re doing your work, as well as damages (such as copyright violation) stemming from your communications. It also helps you replace lost or damaged property and recover the costs of lost work time.</span>
                                    <span>Also, “BOP” is fun to say. We won’t judge.</span>
                                </li>
                                <li>
                                    <span><strong>Cyber</strong> covers costs associated with a data breach or other cyberattack, including repairs, legal judgments, regulatory fines and more. Do you take credit cards and store sensitive information? Cybercriminals are increasingly noticing you. (As recently as 2017, 58% of all cyber incidents targeted small businesses).</span>
                                    <span>Cyber coverage helps you:</span>
                                    <span>1) Rebuild your network</span>
                                    <span>2) Compensate and reassure customers</span>
                                    <span>3) Pay for crisis management</span>
                                </li>
                                <li>
                                    <span><strong>Workers’ Compensation</strong> covers lost wages and medical benefits to your employees injured on the job. Did you know this coverage also protects you by shielding you from most employee lawsuits? Legally required in most states if you have employees.</span>
                                </li>
                                <li>
                                    <span><strong>Commercial Auto</strong> covers your company-owned vehicle if it causes bodily injury or property damage. Legally required in most states if you use a business vehicle.</span>
                                </li>
                            </ul>
                            <h3>BUT MY BUSINESS IS SPECIAL!</h3>
                            <p>Of course. Insurance isn’t one-size-fits-all. Your industry or business model may benefit from specialized coverage. A licensed agent can help you figure out the best plan to protect the one-of-a-kind business you’re building with your time, energy and passion.</p>
                            <h3>ONCE I’M COVERED, CAN I FORGET ABOUT INSURANCE?</h3>
                            <p>It’s a good idea to review your insurance needs every year before you automatically renew your expiring policy. Check with a licensed agent to see if you can get better coverage for a better price. You may also need new or different coverage if:</p>
                            <ul>
                                <li>Your revenue suddenly jumps</li>
                                <li>You make a change in operations (such as introducing a new product)</li>
                                <li>You enter into a contract</li>
                                <li>You put on a special event (hint: anything to do with bouncy houses or beer)</li>
                                <li>And other special circumstances – ask a licensed agent</li>
                            </ul>
                            <h3>HOW CAN DEFY HELP ME?</h3>
                            <p>Defy is part of Lockton Companies – the world’s largest independent insurance broker – with a 50+ year track record of connecting people and businesses to the right coverage. Because we don’t sell our own insurance or play favorites, we can give you an objective recommendation.</p>
                            <p>At no charge to you, we promise to:</p>
                            <ul>
                                <li>Get to know you and your business</li>
                                <li>Recommend the exact solution for your needs</li>
                                <li>Shop for you from over 100 top carriers for the best price</li>
                                <li>Keep you feeling confident about growing your business!</li>
                            </ul>
                            <p>Get started now by answering a few questions:</p>
                        </div>
                    </div>
                    <div class="col-12 mt-2 mt-md-5">
                        <a class="btn btn-green" href="">Consult An Expert</a>
                    </div>
                </div>
            </div>
        </section>

        <!-- Footer Ends -->
        <% include ../partials/footer.ejs%>
    </body>
</html>