<!DOCTYPE html>
<html lang="en-US">
    <head>
        <% include ../partials/head.ejs%>
    </head>
    <body>
        <% include ../partials/header.ejs%>

        <section class="inner-resources-banner re d-flex align-items-center justify-content-center" style="background-image:url(/web_assets/assets/img/resources5.jpg); background-position: 33% 12%;"></section>

        <section class="inner-pages-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="resources_content_block">
                            <h2>Workers' Comp – what's in it for me?</h2>
                            <p>If you’re starting a business and plan to hire employees (that makes you one of our favorite people, by the way), you’ll need to carry Workers’ Compensation. Most state laws require it and so do many contracts you’ll sign with partners and vendors. But on top of that … it’s really good for you.</p>
                            <h3>What is Workers' Comp exactly?</h3>
                            <p>Workers’ Compensation is a type of business insurance that provides lost wages and medical benefits to employees injured on the job.</p>
                            <h3>But “Safety First” is my middle name (okay, two of them). Why do I need it?</h3>
                            <p>Despite your best intentions, workplace accidents happen! Generally, the employee will only be held responsible under certain conditions – like drug or alcohol impairment, self-inflicted injury or violation of company policy.</p>
                            <h3>What happens if I don’t carry it and something bad happens?</h3>
                            <p>Workers’ Comp shields you from employee lawsuits. (Except for some rare exceptions. We'll come back to those.) Without Workers' Comp, you could be sued for an accident or injury, which might mean losing your business … or at least your shirt.</p>
                            <p>With Workers’ Comp, the accident or injury is considered “No Fault” – not the employee’s fault and not yours. Workers' Comp benefits are the exclusive remedy for what happened.</p>
                            <h3>What determines how much I pay for it?</h3>
                            <p>You’re assigned a classification – or more than one – based on your business’s activities. Each classification is given a rate that reflects your level of risk. (Hint: Mortgage Banking makes out better than Explosives Manufacturing.) Your premium is determined by a formula that includes your rate, total payroll costs … and something called an Experience Modifier.</p>
                            <p>Untangling the terminology, an Experience Modifier is an extra charge (or discount!) based on your previous Workers’ Comp claims history. So if you have a great worker safety track record, you’re charged less.</p>
                            <p>In most states, a Workers' Compensation Bureau sets guidelines for all this and regulates the insurance carriers who provide your coverage. Many states delegate a lot of these functions to a non-profit organization called the National Council on Compensation (NCCI). And a very small number (we’re looking at you, Ohio, Washington, Wyoming and North Dakota) require you to buy Workers' Comp from the state instead of private insurers.</p>
                            <h3>Got it. So how do I save money and get the best value?</h3>
                            <p>Although all insurance carriers in your state will assign your business a classification and use the same formula for calculating your premium, there are differences you should check out:</p>
                            <ul>
                                <li>Carriers charge different fees for their services.</li>
                                <li>Carriers assign different rates to your business classification.</li>
                                <li>Most carriers audit your total payroll once a year to make sure it’s accurate. But some offer monthly auditing instead, which can save you a big bill down the line if you’re expanding your workforce.</li>
                            </ul>
                            <h3>So, I can never be sued by employees if I have Workers’ Comp?</h3>
                            <p>Not quite. There a few rare situations where an employer can still be sued by an employee. These include:</p>
                            <ul>
                                <li><strong>Third Party:</strong> Let’s say your employee Jason is landscaping your client Stan’s golf course and trips on a ball. He might collect Workers' Comp from you – and sue Stan for his concussion. Stan can then sue you to recover what he paid out to Jason.</li>
                                <li><strong>Dual Capacity:</strong> If your employee Courtenay burns herself on the job while installing a light bulb that your company manufactures, you could be sued as the manufacturer, not the employer.</li>
                                <li><strong>Non-covered Injury or Illness:</strong> If your employee Brianna is denied Workers' Comp benefits for an asthma attack she says was caused by the new carpet in your workspace, she could try again and sue you.</li>
                                <li><strong>Consequential Body Injury:</strong> If your employee Sergio falls off a forklift, and his wife has a heart attack while nursing him back to health, they could lawyer up.</li>
                                <li><strong>Loss of Consortium:</strong> If your employee Nathan experiences mental or (ahem) anatomical distress after an accident that prevents him from performing “duties” as a spouse, you could be sued for that, too.</li>
                            </ul>
                            <p>Here’s the good news – you’ll be able to head off these rare situations because your Workers’ Compensation policy usually includes<strong> Employers’ Liability Coverage.</strong> (Unless you buy it from one of the states we talked about that don’t allow private insurers to provide Workers’ Comp – in which case you can ask to add it to your business’s General Liability coverage.) There are limits to how much Employer’s Liability coverage will pay out, so be sure to get all the details from your agent or broker.</p>
                            <p>Defy’s licensed insurance advisors are pros at knowing the Workers’ Comp and Employers Liability needs (and others too!) of your business. <a href="#">Call us for a custom consultation on the right coverage for you.</a></p>
                        </div>
                    </div>
                    <div class="col-12 mt-2 mt-md-5">
                        <a class="btn btn-green" href="">Let's  Talk!</a>
                    </div>
                </div>
            </div>
        </section>

        <!-- Footer Ends -->
        <% include ../partials/footer.ejs%>
    </body>
</html>