<!DOCTYPE html>
<html lang="en-US">
    <head>
        <% include ../partials/head.ejs%>
    </head>
    <body>
        <% include ../partials/header.ejs%>

        <section class="inner-resources-banner re d-flex align-items-center justify-content-center" style="background-image:url(/web_assets/assets/img/resources2.jpg); background-position: 33% 12%;"></section>

        <section class="inner-pages-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="resources_content_block">
                            <h2>Wait! Doesn’t my LLC already protect me?</h2>
                            <p>You started your own business (that makes you cool) – and you created an LLC (that makes you smart). But now you may be wondering why you also need to pay for business insurance (that makes you human).</p>
                            <p>The short answer: because a Limited Liability Corporation protects you – not your business.</p>
                            <p>Let’s recap why an LLC can be such a great idea for a start-up. Running your business as an LLC instead of a sole proprietorship or partnership helps ensure you won’t be held personally responsible if your business is sued. If you own a convenience store under an LLC, and a customer slips and falls on a spilled slushy drink … you won’t have to pay out of your own pocket for his medical expenses. That’s a good thing.</p>
                            <p>But what about the store you built with your time, money and passion? If you don’t have business insurance, that single slippery slushy could bankrupt it. The right coverage helps your business stay on top of the game.</p>
                            <p>And here’s something else to remember: you can actually weaken your own LLC protections if you use your personal insurance for your business needs. If you buy a car in your company’s name but skip commercial auto insurance because it’s easier to add the car to your personal policy … you could end up paying for a work-related accident.</p>
                            <p>The courts call this “piercing the corporate veil.” But Ghostbusters probably put it best: don’t cross the streams.</p>
                            <p>Of course, the specific coverage you need to round out the protections you enjoy from your LLC will vary from business to business.</p>
                            <p>Talk to a friendly, <a href="#">licensed Defy advisor</a> to find exactly what you need to keep on building something great.</p>
                        </div>
                    </div>
                    <div class="col-12 mt-2 mt-md-5">
                        <a class="btn btn-green" href="">Let's Talk</a>
                    </div>
                </div>
            </div>
        </section>

        <!-- Footer Ends -->
        <% include ../partials/footer.ejs%>
    </body>
</html>