<!DOCTYPE html>
<html lang="en-US">
    <head>
        <% include ./partials/head.ejs%>
    </head>

    <body>

    	<% include ./partials/header.ejs%>

       
		
		<section class="inner-pages-content policy_pages">
			<div class="container">
				<div class="row">
					<div class="col-12">
					    <div class="section-header text-center">
                            <h2 class="section-title">Defy Copyright Policy</h2>
                        </div>
						<div>
						    <h4>Reporting Claims of Copyright Infringement</h4>
							<p>Defy Insurance possess the information available on the Website and is protected by copyright and other intellectual property laws.</p>
							<p>We take claims of copyright infringement seriously. If any material from this Website infringed your Copyright, you may request removal of those materials from the Website by submitting written notification to our copyright agent. In accordance with the Online Copyright Infringement Liability Limitation Act, the written notice must include substantially the following:</p>
							<ul>
							    <li>Your physical or electronic signature.</li>
							    <li>Identification of the copyrighted work you believe to have been infringed or, if the claim involves multiple works on the Website, a representative list of such works.</li>
							    <li>Information by which we can contact you (including your name, postal address, telephone number, and, if available, email address).</li>
							    <li>A statement that you have a good faith belief that use of the copyrighted material is not authorized by the copyright owner, its agent, or the law.</li>
							    <li>A statement that the information in the written notice is accurate.</li>
							    <li>A statement, under penalty of perjury, that you are authorized to act on behalf of the copyright owner.</li>
							</ul>
							<p>Our designated copyright agent to receive Notices is:</p>
							<ul>
							    <li>XYZ</li>
							    <li>Defy Insurance Agency, LLC</li>
							    <li>Address</li>
							    <li>Phone Number</li>
							    <li>Email Address</li>
							</ul>
							<p>If you fail to comply with all of the legal requirements, Notice may not be effective.</p>
							<p>Please be aware that if you knowingly materially misrepresent that material or activity on the Website is infringing your copyright, you may be held liable for damages (including costs and attorneys’ fees) under defined State and federal laws.</p>
							
							
						</div>
					</div>
				</div>
			</div>
		</section>
       
        <!-- Footer Starts -->
        <% include ./partials/footer.ejs%>
        <!-- Footer Ends -->





        <script src="../assets/js/jquery-1.9.1.min.js" type="text/javascript"></script>
        <script src="../assets/js/bootstrap.min.js" type="text/javascript"></script> 
        <script type="text/javascript" src="../assets/js/slick.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/1.1.1/typed.min.js" type="text/javascript"></script>
        <script src="../assets/js/custom.js" type="text/javascript"></script>
        <script src="../assets/js/material-form.js" type="text/javascript"></script>
        <!-- <div style="display: none;">
            Icons made by <a href="https://www.flaticon.com/authors/creaticca-creative-agency" title="Creaticca Creative Agency">Creaticca Creative Agency</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
        </div> -->   



    </body>

</html>