<!DOCTYPE html>
<html lang="en-US">
    <head>
        <% include partials/head.ejs%>
    </head>
    <body>
        <% include partials/header.ejs%>
        <section class="banner">
            <div class="banner-content pb-5">
                <div class="banner-inner featured-section section-one" >
                    <div class="typed_wrap">
                        <h1 class="banner-title">Shop the market and get insurance right.</h1>
                        <h4 class="subtitle">select a product to see your quotes.</h4>
                    </div>

                    <div class="row justify-content-center mb-5">
                        <div class="col-12 col-md-3">
                            <a href="/get_business_nsurance">
                                <div class="card featured-card border-style">
                                    <h4>Business</h4>
                                    <div class="card-icon">
                                        <img src="/web_assets/assets/img/green-img/icon-green-10.png" width="100px"/>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-12 col-md-3">
                            <a href="/get_auto_nsurance">
                                <div class="card featured-card border-style">
                                    <h4>Auto</h4>
                                    <div class="card-icon">
                                        <img src="/web_assets/assets/img/green-img/icon-green-6.png" width="100px"/>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-12 col-md-3">
                            <a href="/get_home_nsurance">
                                <div class="card featured-card border-style">
                                    <h4>Home</h4>
                                    <div class="card-icon">
                                        <img src="/web_assets/assets/img/green-img/icon-green-8.png" width="100px"/>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-12 col-md-4 col-sm-6 col-lg-3">
                            <a href="/get_renter_nsurance" class="card featured-card border-style">
                                <h4>Renters</h4>
                                <div class="card-icon">
                                    <img src="/web_assets/assets/img/green-img/icon-green-12.png" width="100px"/>
                                </div>
                            </a>
                        </div>
                        <div class="col-12 col-md-4 col-sm-6 col-lg-3">
                            <a href="/add_insurance/6" class="card featured-card border-style">
                                <h4>Home Insurance Floater</h4>
                                <div class="card-icon">
                                    <img src="/web_assets/assets/img/green-img/icon-green-13.png" width="100px"/>
                                </div>
                            </a>
                        </div>
                        <div class="col-12 col-md-4 col-sm-6 col-lg-3">
                            <a href="/add_insurance/7" class="card featured-card border-style">
                                <h4>Motorcycle, RV, Boat</h4>
                                <div class="card-icon">
                                    <img src="/web_assets/assets/img/green-img/scooter.png" width="100px"/>
                                </div>
                            </a>
                        </div>
                        <div class="col-12 col-md-4 col-sm-6 col-lg-3">
                            <a href="/add_insurance/8" class="card featured-card border-style">
                                <h4>Umbrella</h4>
                                <div class="card-icon">
                                    <img src="/web_assets/assets/img/green-img/icon-green-7.png" width="100px"/>
                                </div>
                            </a>
                        </div>
                        <div class="col-12 col-md-4 col-sm-6 col-lg-3">
                            <a href="/add_insurance/9" class="card featured-card border-style">
                                <h4>Small Group Benefits </h4>
                                <div class="card-icon">
                                    <img src="/web_assets/assets/img/green-img/icon-green-14.png" width="100px"/>
                                </div>
                            </a>
                        </div>
                        <div class="col-12 col-md-4 col-sm-6 col-lg-3">
                            <a href="/get_life_nsurance" class="card featured-card border-style">
                                <h4>Life</h4>
                                <div class="card-icon">
                                    <img src="/web_assets/assets/img/green-img/life-insurance.png" width="100px"/>
                                </div>
                            </a>
                        </div>
                        <div class="col-12 col-md-4 col-sm-6 col-lg-3">
                            <a href="/add_insurance/11" class="card featured-card border-style">
                                <h4>Health care</h4>
                                <div class="card-icon">
                                    <img src="/web_assets/assets/img/green-img/icon-green-9.png" width="100px"/>
                                </div>
                            </a>
                        </div>
                        <div class="col-12 col-md-4 col-sm-6 col-lg-3">
                            <a href="/get_travel_nsurance" class="card featured-card border-style">
                                <h4>Accident</h4>
                                <div class="card-icon">
                                    <img src="/web_assets/assets/img/green-img/icon-green-5.png" width="100px"/>
                                </div>
                            </a>
                        </div>
                        <div class="col-12 col-md-4 col-sm-6 col-lg-3">
                            <a href="/add_insurance/13" class="card featured-card border-style">
                                <h4>Dental</h4>
                                <div class="card-icon">
                                    <img src="/web_assets/assets/img/green-img/dental.png" width="100px"/>
                                </div>
                            </a>
                        </div>
                        <div class="col-12 col-md-4 col-sm-6 col-lg-3">
                            <a href="/add_insurance/16" class="card featured-card border-style">
                                <h4>Medicare</h4>
                                <div class="card-icon">
                                    <img src="/web_assets/assets/img/green-img/medicare.png" width="100px"/>
                                </div>
                            </a>
                        </div>
                        <div class="col-12 col-md-4 col-sm-6 col-lg-3">
                            <a href="/add_insurance/14" class="card featured-card border-style">
                                <h4>Short-Term Medical</h4>
                                <div class="card-icon">
                                    <img src="/web_assets/assets/img/green-img/short-term-medical.png" width="100px"/>
                                </div>
                            </a>
                        </div>
                        <div class="col-12 col-md-4 col-sm-6 col-lg-3">
                            <a href="/add_insurance/15" class="card featured-card border-style">
                                <h4>Vision</h4>
                                <div class="card-icon">
                                    <img src="/web_assets/assets/img/green-img/icon-green-11.png" width="100px"/>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer Ends -->
        <% include partials/footer.ejs%>
    </body>
</html> 