<!DOCTYPE html>
<html lang="en-US">
    <head>
        <% include ./partials/head.ejs%>
    </head>

    <body>


        <% include ./partials/header.ejs%>

		<section class="inner-pages-content policy_pages">
			<div class="container">
				<div class="row">
					<div class="col-12">
					    <div class="section-header text-center">
                            <h2 class="section-title">Defy Insurance Privacy Policy</h2>
                        </div>
						<div>
							<h4>Defy insurance Privacy Policy</h4>
							<p>The Defy Privacy Policy was last updated on 24th August, 2020.</p>
							<p>Defy, a limited Liability Company (“Defy”/” we”/ “our”/ “our company”) provides customized insurance products tobusinesses and Individuals,your privacy is very important to us at Defy Insurance. Personal Information protection is a major priority throughout all of our business practices and procedures, that explains how we collect, use, disclose, and store your information when you visit the website www.defyinsurance.com and all associated websites linked to www.defyinsurance.com by Defy, its subsidiaries and affiliates (collectively, the “Website”).Further, for purposes of this Privacy Policy, “Website” includes any mobile applications we have.</p>
							<p>Please take a moment to familiarize yourself with our privacy practices and <u>Let us know</u> if you have questions.</p>
							
							<h4>The Scope of this Policy</h4>
							<p>This Privacy Policy applies to all visitors to Defy website and all Defy employees, clients, prospective clients.</p>
							<p>This Policy applies to information we collect:</p>
							<ul>
							     <li>On the Website.</li>
							     <li>In e-mails, texts, online forms, and other electronic messages between you and Defy</li>
							     <li>Offline via phone calls or through any other means</li>
							     <li>When you interact with “our” 3rd party Websites and services, whose link is given in this policy.</li>
							     <li>Public data sources.</li>
							</ul>
							<p>By accessing or using our Website, you agree to this Policy and Defy’sTerm of Use.This Policy may change from time to time. If you do not agree with this Policy, then your choice is to not use our Website or any other application. By using this Website and submitting your Personal Information, you agree with and consent to the processing, transfer, usage and storage of your Personal Information in accordance with this Website Privacy Policy.</p>
							
							<h4>Information collected by Defy</h4>
							<p>We collect several types of information from and about users of our Website, including information:</p>
							<ul>
							    <li>Information by which you may be personally identified, such as name, postal address or other street address, e-mail address, telephone number, date of birth, credit card information, Location information, Job title and Publicly available information. </li>
							    <li>We collect information required to complete the purchase or renewal of an insurance policy, as requested. </li>
							    <li>We collect Information about your internet connection, the equipment you use to access our Website, application and usage details.</li>
							    <li>Information collected from purchasing habits, client interactions, and any additional non-personally identifying information you may provide in requesting a quote for insurance, purchasing an insurance policy; and/or</li>
							</ul>
							<p>This information is collected in three ways: (1) Any information which is directly provided to us; (2) automatically as you navigate through the site (e.g. usage details, IP addresses and information collected through cookies and other tracking technologies); and (3) from “Our” affiliated partners or any other 3rd party, whose link is given in this policy. </p>
							<ul>
							    <li>Information that you provide by filling in forms on our Website. Any information directly from you when you provide it to us when you access or use the Website.</li>
							    <li>Information collected from public data sources. </li>
							    <li>Records of your correspondence with Defy (via letters, e-mails, online chat, or text messages).</li>
							    <li>Your responses to surveys that we might ask you to complete for research and quality control purposes.</li>
							    <li>Automatically as you navigate through the site. This may include usage details, unique IDs, IP addresses, and information collected through cookies, and other tracking technologies.</li>
							</ul>
							
							<h4>Personal Information We Disclose</h4>
							<p>Defy, do not disclose any non-public information about you to anyone, except as authorized or as permitted or required by law. We do not sell or otherwise disclose your personal information to anyone for purposes unrelated to our products and services. However, we may, as described below, disclose your personal information for a business purpose:</p>
							<ul>
							    <li>To our subsidiaries and legal affiliates.</li>
							    <li>To third parties who use to support our business and who are bound by contractual obligations to keep personal information confidential and use it only for the purposes for which we disclose it to them.</li>
							    <li>To comply with any court order, law or legal process, including to respond to any government or regulatory request.</li>
							    <li>In case, of a merger, restructuring, reorganization, dissolution, or other sale or transfer of some or all of Defy assets.</li>
							    <li>If we believe disclosure is necessary or appropriate to protect the rights, property, or safety of Defy, our clients, our employees, or others. This includes exchanging information with other companies and organizations for the purposes of fraud protection and credit risk reduction.</li>
							</ul>
							
							<h4>How Defy stores and protects your information</h4>
							<p>Defy’ssystems are configured to provide privacy, integrity and authentication in Internet communications.We retain your information for as long as necessary to provide you and other clients with insurance quotes, policies, and related services and to comply with applicable state and federal laws.We have implemented reasonable and appropriate measures designed to secure your personal information from accidental loss and from unauthorized access, use, alteration and disclosure. All information you provide to us is stored on secure structures. However, please remember that you play a valuable part in security as well. Your password to access your account should never be shared with anyone. After you have finished using the Website, you should log off and exit your browser so no unauthorized persons can use our Website with your name and account information</p>
							<p>Unfortunately, the transmission of information via the internet is never completely secure.  Although we do our best to protect your personal information, we cannot guarantee the security of your information, including against unauthorized intrusions or acts by third parties. Any transmission of personal information by you over the internet is at your own risk.  If, at any time in the future, it is necessary to disclose any of your personal information in a manner that is inconsistent with this Policy, we will give you advance notice of the proposed change so that you will have the opportunity to consent or refuse consent to such disclosure.</p>
							<p>Defy disposes of Personal Information in a secure manner by destroying or permanently erasing electronic data and by disposing of hard copy data via burning, or using other secure methods to ensure that Personal Information cannot be read or reconstructed.</p>
							
							<h4>Choice/Opting Out</h4>
							<p>You may exercise your choice to “opt-out” of providing personal information in many ways. When selecting to use certain services or features of our Website, you can exercise your right to choose whether to share personal information with respect to the particular service or feature.You may also opt-out entirely from providing personal information to us by not creating an account on our Website or not completing transactions with us online through the Website. However, certain sections of our Website do require registration in order to use these sections and services. If you choose not to register or provide certain information, these sections will not be available for your use.</p>
							<p>We will not use your information for any purpose other than for those purposes you have authorized. Further, we will not use your information for a purpose that is incompatible with the purpose for which it was originally authorized by you.</p>
							
							<h4>Accessing, Correcting or Removing Your Personal Information</h4>
							<p>If you create an account on this Website, you can access, review and change the information that you provide through the account profile page. You may also send us an email atAnass@defyinsurance.com or call us at (877)780-4626 to request access to, correct or delete any personal information that you have provided to us. We cannot delete your personal information except by also deleting your user account. We may not accommodate a request to change information if we believe the change would violate any law or legal requirement or cause the information to be incorrect. </p>
							
							<h4>Your California privacy rights</h4>
							<p>If you are a California resident, California law may provide you with additional rights regarding our use of your Personal information. To exercise the right to opt out of personal information sales, you (or your authorized representative) may submit a request to us by emailing us at Anass@defyinsurance.com or calling us at (877)780-4626 to request access to, correct or delete any <u>personal information</u> that you have provided to.</p>
							
							<h4>Children</h4>
							<p>Our website is not intended for children under 18 years of age.  We understand the importance of taking extra precautions to protect the privacy and safety of children. Accordingly, we do not knowingly collect, use or disclose personal information from children under 18. If you are under 18, do not use or provide any information on our Website or provide any information about yourself to us, including your name, address, telephone number, e-mail address, Location, date of birth or interests. If we learn we have collected or received personal information from a child under 18 without verification of parental consent, we will delete that information as soon as possible. If you believe we might have any information from or about a child under 18, please contact us.</p>
							
							<h4>Access our Websites through Mobile Devices</h4>
							<p>If you access our websites on a mobile telephone or mobile device, we may also collect the related unique device identifier and mobile device IP address, as well as information about that device’s operating system, mobile carrier, and location information.</p>
							<p>By providing mobile device phone number, you consent to the use of your mobile device phone number for the purposes identified in this Privacy Policy. If you choose to receive notifications from us on your mobile device (e.g., text notifications), you also consent to the use of your mobile phone number for that purpose.</p>
							
							<h4>Changes to this Policy</h4>
							<p>We will post any changes we make to our Policy on this page. The date the Policy was last revised is identified at the top of the page. If we make material changes to how we treat our users’ personal information, we will notify you through a notice on the Website home page or by some other method of communication like email. You are responsible for periodically visiting our Website and this Policy to check for any changes.  <b>Your continued use of our Website following the posting of changes constitutes your acceptance of such changes.</b></p>
							
							<h4>Contact Us</h4>
							<p>We’ve done our best to describe our Policy in plain English.  However, if you have any questions or comments, please let us know.</p>
						</div>
					</div>
				</div>
			</div>
		</section>
       
        <!-- Footer Starts -->
			<% include ./partials/footer.ejs%>
        <!-- Footer Ends -->





        <script src="../assets/js/jquery-1.9.1.min.js" type="text/javascript"></script>
        <script src="../assets/js/bootstrap.min.js" type="text/javascript"></script> 
        <script type="text/javascript" src="../assets/js/slick.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/1.1.1/typed.min.js" type="text/javascript"></script>
        <script src="../assets/js/custom.js" type="text/javascript"></script>
        <script src="../assets/js/material-form.js" type="text/javascript"></script>
        <!-- <div style="display: none;">
            Icons made by <a href="https://www.flaticon.com/authors/creaticca-creative-agency" title="Creaticca Creative Agency">Creaticca Creative Agency</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
        </div> -->   



    </body>

</html>