<!DOCTYPE html>
<html lang="en-US">
    <head>
        <% include partials/head.ejs%>
    </head>
    <body>
        <% include partials/header.ejs%>
        <section class="section pt-5">
            <div class="container pt-4">
                <div class="row">
                    <div class="col-lg-4">
                        <img src="<%= memberRes.image %>" alt="" width="100%">
                    </div>
                    <div class="col-lg-8">
                        <div class="leadership-detail-text">
                            <h1><%= memberRes.name %></h1>
                            <h4><%= memberRes.designation %></h4>
                            <hr>
                            <p><%= memberRes.bio %></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer Ends -->
        <% include partials/footer.ejs%>
    </body>
</html>