<!DOCTYPE html>
<html lang="en-US">
    <head>
        <% include partials/head.ejs%> 
    </head>

    <body>


       <% include partials/header.ejs%> 
		
		<section class="inner-pages-content policy_pages">
			<div class="container">
				<div class="row">
					<div class="col-12">
					    <div class="section-header text-center">
                            <h2 class="section-title">Defy Terms of Use</h2>
                        </div>
						<div>
						    <p>The Defy Website Terms of Use was last updated on 24TH August, 2020</p>
							<h4>IMPORTANT: PLEASE READ THE TERMS CAREFULLY BEFORE YOU START USING THE WEBSITE. THIS TERMS OF USE AGREEMENT IS A LEGALLY BINDING AGREEMENT BETWEEN YOU AND DEFY, LLC. IF YOU DO NOT AGREE TO THESE TERMS OF USE, PLEASE REFRAIN FROM USING THIS WEBSITE.</h4>
							<p>Welcome to the Defyinsurance.com Website (“our Website” or “this Website”). This Website is operated by Defy, a limited liability company, (“Defy”/ “we”/ “us”/ “our”). We prepared this Terms of Use Agreement (“Agreement”) to govern your access to and use of www. Defyinsurance.com, including any content, functionality, and services offered on or throughthis Website. </p>
							<p>Defy reserves the right, at its sole discretion, to modify, change, add or remove portions of these Terms of Use, at any time. It is responsibility of the user to check these Terms of Use periodically for changes. Your continued use of the Website will mean that you accept and agree to the changes. As long as you comply with these Terms of Use and privacy policy, defy grants you a personal, non-exclusive, non-transferable, limited privilege to enter and use the Website.</p>
							
							<h4>Accessing the Website and Account Security</h4>
							<p>Defy reserve the right to withdraw or amend this Website. We will not be liable if for any reason all or any part of the Website is unavailable at any time or for any period. From time to time, we may restrict access to some parts of the Website, or the entire Website, to users, including registered users. </p>
							<p>You are responsible for:</p>
							<ul>
							    <li>Making sure your access to this website;</li>
							    <li>You need to Ensure that any person who access the Website through your internet connection are aware of these Terms of Use and comply with them.</li>
							</ul>
							<p>Your access to use this Website are conditioned upon your compliance to the terms of this Agreement. If you violate any of the terms of this Agreement, you agree that we may deny you access to the Site.</p>
							<p>If you are provided with, a password, user name or any other piece of information as part of our security procedures, you must treat such information as confidential, and you agree that you will not disclose such information with any other person or entity. You also acknowledge that your account is personal to you and agree not to provide any other person with access to this Website or portions of it using your user name, password or other security information. If any unauthorized person or entity access to or use of your password, use name or any other breach of security You agree to notify us immediately. You also acknowledge that at the end of each session you will ensure that you will exit from this Website. You should use particular caution when accessing your account from a public or shared computer so that others are not able to view or record your password or other confidential information. It is the responsibility of the user to comply with all the terms and condition set out in the agreement. </p>
							
							<h4>Insurance policy terms and conditions control</h4>
							<p>Defy, is an insurance company. We take reasonable efforts to provide up-to-date information on our Website about the insurance policies and services we offer. However, in order to ensure that you have the most accurate information concerning any policies or services that you are thinking about purchasing, you should always confirm the current terms and conditions with Defy. </p>
							<p>Content on our Website may not be construed as professional advice on which reliance should be made. A product or service shown on our Website may not necessarily be suitable for you, this is for you to decide (and, if in doubt, you should seek appropriate independent advice). You and Defy enters into a binding contract when an insurance policy is purchased and not by this general information available on this Website. </p>
							<p>By purchasing an insurance policy through our Website,by doing so you confirm that all answers given by you in your policy application are true and correct, that you have read and understood the relevant policy terms and conditions, and that you are satisfied with the policy given for your needs.</p>
							
							<h4>Intellectual Property Rights </h4>
							<p>Defy’s Website and its original contents (including but not limited to written Content, software, text, layout,Site design, graphics, and arrangement thereof) are owned by the Company, its licensors, and are protected by copyright, trademark, and other intellectual property or proprietary rights laws and international conventions. </p>
							<p>These Terms of Use permit you to use the Website for your personal, non-commercial use only. You must not reproduce, distribute, modify, create derivative works of, publicly display, publicly perform, republish, download, store or transmit any of the material on our Website, except as follows:</p>
							<ul>
							    <li>You may store files that are automatically cached by your Web browser for display enhancement purposes.</li>
							    <li>You may keep a copy of some pagesof the Website for your own personal, non-commercial use and not for further reproduction, publication or distribution.</li>
							    <li>Your computer may temporarily store copies of such materials in RAM in the event of your accessing and viewing those materials on the Website. </li>
							    <li>If we provide desktop, mobile or other applications for download, then you may download a single copy to your computer or mobile device solely for your own personal, non-commercial use. </li>
							    <li>If we provide social media features, then you may take such actions as are enabled by such features.</li>
							</ul>
							<p>You must not:</p>
							<ul>
							    <li>You agree that you will not modify copies of any content or materials from this Website.</li>
								<li>You also acknowledge that use of illustrations, photographs, or any graphics separately from the accompanying text.</li>
								<li>By using this Website, you shall not delete or alter copyright, trademark or other proprietary rights. </li>
							</ul>
							<p>If you provide any other person with access to any part of the Website in breach of the Terms, your right to use the Website will stop <i><b>immediately</b></i> and you must, at our option, return or destroy any copies of the materials and content you have made. All rights are reserved by the company and No right, title, or interest in or to the Website or any content on the Website is transferred to you. </p>
							
							<h4>Pending Trademark Application</h4>
							<p>Defy name, the terms Defy and Defy Insurance, Defy’s logo, and all related names, logos, color schemes, product and service names, designs and slogans are trademarks of Defy or its affiliates. You must not use such marks without the prior written permission of Defy. In case of use of such names, logos, color schemes, product and service names, designs and slogans shall be violation of intellectual property or proprietary rights laws.</p>
							
							<h4>Permissible and Prohibited Uses of Site and Site Materials</h4>
							<p>Defy allow you to download or print a copy of any of the Materials or contents on our Website for your personal use and non-commercial use. However, if you download or print a copy of any of the Materials or contents for your own personal use and non-commercial use, you agree to retain all copyright and other proprietary notices contained in and on the Materials.</p>
							<p>You may use the Website only for lawful purposes and in accordance with these Terms. You agree not to use the Website:</p>
							<ul>
							    <li>You agree that minors must not be exploited, harmed in any way by exposing them to inappropriate content, or otherwise.</li>
							    <li>Anything that doesn’t comply with the content standards set out in these Terms of use.</li>
							    <li>User must not violate any applicable federal, state, local, or international law.</li>
							    <li>To impersonate or attempt to impersonate the Company, a Company employee, another user, or any other person or entity (including, without limitation, by using email addresses or screen names associated with any of the foregoing).</li>
							    <li>You agree not to transmit, or procure, any advertising or promotional material without our prior written consent, including any "junk mail," "chain letter," "spam," or any other similar solicitation.</li>
							    <li>User must not engage in any other conduct that restricts or restrain anyone’s use, or which, as determined by us, may harm the Company or users of the Website, or expose them to liability.</li>
							</ul>
							<p>Additionally, you agree not to:</p>
							<ul>
							    <li>You agree not to overburden, damage, or interfere with any other persons use of the Website. </li>
							    <li>User must not use automatic devices, process or means to access the Website for any purpose, including monitoring or copying any of the material on the Website for commercial use. </li>
							    <li>Use any device, software or routine that interferes with the proper working of the Website.</li>
							    <li>User must not attempt to gain unauthorized access to, interfere with, damage or disrupt any parts of the Website, the server on which the Website is stored, or any server, computer or database connected to the Website.</li>
							</ul>
							
							<h4>Reliance on information posted</h4>
							<p>Information on Defy’s Website is solely for general information. Any reliance you place on such information is strictly at your own risk. We deny all liability and responsibility arising from any reliance placed on such materials by you or any other visitor to the Website, or by anyone who may be informed of any of its contents.</p>
							<p>This Website may include content provided by third parties. Any content provided by any other person or entity, other than content provided by the company, are solely the opinion and responsibility of the person providing those material. These materials do not necessarily reflect the opinion of the Company. We are not responsible or liable to you or any third party for the content or accuracy of any materials provided by any third parties.</p>
							
							<h4>License, Representation, and Warranty</h4>
							<p>The Website may contain an online chat option or other interactive features (collectively, “Interactive Services”) that allow users to post, submit, publish, display or transmit to other users or other persons (hereinafter, “post”) content or materials (collectively, “User Contributions”) on or through the Website. All User Contributions must comply with the Content Standards set out in these Terms of use.</p>
							<p>Any user who provides contributions on this Site, you grant Defy a perpetual, non-exclusive, fully-paid and royalty-free, sublicensable (meaning Defy can sublicense its rights to third parties), and worldwide license to use, modify, create, publicly display, reproduce, and/or otherwise distribute Your Contributions. You further represent and warrant that you own all rights to Your Contributions.</p>
							
							<h4>Monitoring and Enforcement; Termination</h4>
							<p>We have the right to:</p>
							<ul>
							    <li>Company has the right to Remove or refuse to post any User Contributions for any or no reason in our sole discretion.</li>
							    <li>If you have violated any one’s rights, including their intellectual property right or their rights to privacy, company has the right to disclose your information or Disclose your identity to any third party who claims such violation. </li>
							    <li>Take any action with respect to any User Contribution that we deem necessary or appropriate in our sole discretion.</li>
							    <li>Company has the right to terminate or suspend your access to all or part of the Website for any reasons it deems fit, including without limitation, any violation of these Terms of Use.</li>
							    <li>Take appropriate legal action, for any illegal or unauthorized use of the Website.</li>
							</ul>
							
							<h4>Content Standards</h4>
							<p>These content standards apply to any and all User Contributions and use of Interactive Services, User Contributions must not:</p>
							<ul>
							    <li>User contribution must not Contain any material which is defamatory, indecent, abusive, offensive, harassing, violent, hateful, inflammatory or otherwise objectionable.</li>
							    <li>User must not promote and use sexually explicit or pornographic material, violence, or discrimination based on race, sex, religion, nationality, disability, sexual orientation or age.</li>
							    <li>Infringe any trademark or other intellectual property or other rights of any other person.</li>
							    <li>User must not Violate the legal rights of others or contain any material that could give rise to any civil or criminal liability under applicable laws or regulations or that otherwise may conflict with these Terms of Use and our <a href=""><u>Privacy statement</u></a>. </li>
							    <li>Cause irritation, inconvenience or anxiety or be likely to upset, embarrass, alarm or annoy any other person.</li>
							</ul>
							
							<h4>Links from the Website</h4>
							<p>Links contained on the Website to other sites and resources provided by third parties are provided for your convenience only. Defy has no control over the contents of those sites or resources, and accept no responsibility for them or for any loss or damage that may arise from your use of them. If you decide to access any of the third party websites linked to this Website, you do so entirely at your own risk and subject to the terms and conditions of use for such websites.</p>
							
							<h4>Disclaimer</h4>
							<p>By providing you with access and usage of the Content on our Website, we make no warranties or representations about any benefits or opportunities that you can obtain at this Site.</p>
							<p>You acknowledge that we do not guarantee or warrant of any kind, either expressed or impliedthat files available for downloading from the Website will be free of viruses or other destructive code. You acknowledge that such information and materials may contain inaccuracies or errors. Therefore, you are responsible for anti-virus protection and defy shall not be responsible for any lost data.WE WILL NOT BELIABLE <b>FOR ANY LOSS OR DAMAGE CAUSED BY A DISTRIBUTED DENIAL-OF-SERVICE ATTACK, VIRUSES, OR OTHER TECHNOLOGICALLY HARMFUL MATERIAL THAT MAY INFECT YOUR COMPUTER EQUIPMENT, COMPUTER PROGRAMS, DATA, OR OTHER PROPRIETARY MATERIAL DUE TO YOUR USE OF THE WEBSITE OR ANY SERVICES OR ITEMS OBTAINED THROUGH THE WEBSITE OR TO YOUR DOWNLOADING OF ANY MATERIAL POSTED ON IT, OR ON ANY WEBSITE LINKED TO IT.</b></p>
							<p>We do not warrant that access to this Website will be uninterrupted, available at all times or available at any particular time.  We do not warrant that errors or defects will be corrected, that your use of Content displayed on our site will not infringe rights of third parties. We make no warranty or representation that the material on our Site is appropriate or available for use in any location or is complying with all local laws. You acknowledge that access to our Site is at your own risk.</p>
							<p><b>Defy hereby disclaims all warranties of any kind, whether express or implied, statutory or otherwise,the foregoing does not affect any warranties which cannot be excluded or limited under applicable law.</b></p>
							
							<h4>Limitation and Release of Liability</h4>
							<p>Defy provides you with access and usage of, the content of this Website, to the full extent provided by Law. In no event the company, its subsidiaries, employees, agents, officers or directors be liable for any kind under any laws of United States or any other international law or conventions arising out or in connection with your use, neither we, nor any other party involved in creating producing or delivering this Site will be liable for any direct, indirect, incidental, consequential, special or punitive damages, however caused by your usage of this Website, including, without limitation, for any errors, inaccuracies, omissions, or other defects in, or lack of timeliness or inauthenticity of, the information contained on the Site, or for any delay or interruption of access to the information contained on the Site or transmission of data with you or any user, or for any claims or losses arising therefrom or occasioned thereby, even if we have been advised of the possibility of such damages.</p>
							<p>Defy shall not be liable for any loss or damage caused by a virus, or other harmful material that may have affected your computer, devices, or any other equipment due to your use of our Website or by downloading any material from this Website. </p>
							
							<h4>Indemnification</h4>
							<p>You acknowledge, defend, indemnify, and hold harmless the Company, its subsidiaries, offers, employees, directors, agents against all losses, claim, liabilities expenses, damages, and costs, expenses including reasonable attorneys’ fees arising out of your violation of this Website, terms of use, privacy policy, including but not limited to unauthorized use of any content available on this Website. Defy reserves the right, at its own expense, of any matter subject to indemnification, and in such case, you agree to cooperate with Defy in the defense of any such claim.</p>
							
							<h4>Governing Law and Jurisdiction</h4>
							<p>Any dispute between you and Defy arising out of, or relating to the non-contractual disputes or claimsshall be governed by and construed in accordance with the internal laws of the State of New Jersey without giving effect to any choice or conflict of law provision or rule (whether of the State of New Jersey or any other jurisdiction).</p>
							<p>Any dispute between you and Defy arising out of, or related to, these Terms or the Website (Contractual in nature) shall be instituted exclusively in the federal courts of the United States or the courts of the State of New Jersey, although we retain the right to bring any suit, action, or proceeding against you for breach of these Terms in your country of residence or any other relevant country.</p>
							
						    <h4>Limitation on Time to File Claims</h4>
							<p><i>Any cause of action or claim you may have arising out of or relating to these Terms of Use or the Website must be commenced within one (1) year after the cause of action accrues, otherwise, such cause of action or claim is permanently barred.</i></p>
							
							<h4>Arbitration</h4>
							<p>At company’s sole discretion, all Disputes arising out of, or relating to, this Agreementincluding violation, invalidity, non-performance, termination or interpretation or our operation of this Website shall be resolved by binding arbitration to be held in the English language in the City of Princeton City, New Jersey, pursuant to the rules of the American Arbitration Association. The Arbitrator shall have complete/exclusive authority to resolve any dispute. Further, if you are located outside of the United States, we retain the right to bring proceedings against you for breach of this Agreement in your country of residence or any other appropriate country.</p>
							
							<h4>Waiver and Severability</h4>
							<p>All conditions set forth in the Term of Use and the Website, defy shall not give any waiver or continuing waiver of such terms and conditions and any failure of Defy to assert a right or provision under these Terms of Use shall not constitute a waiver of such right or provision.</p>
							<p>If any provision of these Terms of Use is challenged by a court or other tribunal of competent jurisdiction to be invalid, illegal or unenforceable for any reason, such provision shall be eliminated or limited to the minimum extent such that the remaining provisions of the Terms of Use will continue in full force and effect.</p>
							
							<h4>Company Information</h4>
							<p>Defy, LLC is a private company registered in New Jercey,USA, under charter number ______________, and has its registered office at 116 VILLAGE BLVD, SUIT 200 PRINCETON, NJ 08540, USA. </p>
							
							
							<h4>Entire Agreement</h4>
							<p>The Terms of Use, the Privacy Statement, and the <u>Copyright Policy</u> constitute the entire agreement between you and Defy with respect to the Website and supersede all prior and contemporaneous understandings, agreements, representations and warranties, both written and oral, with respect to the Website.</p>
							
							<h4>Questions</h4>
							<p>If you have any questions or concerns relating to these Terms of Use, please contact Defy’s Compliance Counsel via e-mail at ____________________ or by mail to Defy, LLC. </p>
							
						</div>
					</div>
				</div>
			</div>
		</section>
       
        <!-- Footer Starts -->
        <% include partials/footer.ejs%> 
        <!-- Footer Ends -->





        <script src="../assets/js/jquery-1.9.1.min.js" type="text/javascript"></script>
        <script src="../assets/js/bootstrap.min.js" type="text/javascript"></script> 
        <script type="text/javascript" src="../assets/js/slick.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/1.1.1/typed.min.js" type="text/javascript"></script>
        <script src="../assets/js/custom.js" type="text/javascript"></script>
        <script src="../assets/js/material-form.js" type="text/javascript"></script>
        <!-- <div style="display: none;">
            Icons made by <a href="https://www.flaticon.com/authors/creaticca-creative-agency" title="Creaticca Creative Agency">Creaticca Creative Agency</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
        </div> -->   



    </body>

</html>