<html>

    <head>
    	<!-- <script src="/web_assets/assets/js/zoho-form-validation.js" type="text/javascript"></script> -->
        <% include partials/head.ejs %>
    </head>
    <body class="zf-backgroundBg inner_insurance_body">
        <% include partials/header.ejs %>
        <div class="inner-pages-content contact-us" id="contact_us" style="background-color: #21ce99;">
            <div class="container">
                <div class="row">
                	<div class="col-12">
						<div class="section-header text-center mb-3 mb-md-5">
							<h2 class="section-title mb-2 black-heading">Defy Makes it easy</h2>
                            <h3>Let our agents find you the best coverage and deals from top-rated carriers.</h3>
						</div>
					</div>
				</div>
		<div class="zf-templateWidth">
			<form id="zoho-form-custom" action='https://forms.zohopublic.com/marketing271/form/ClientDetails1/formperma/N3qXmIw_cz9KcrV2d5-9aKm4LEWwaz9vtL-RLwAVab8/htmlRecords/submit' name='form' method='POST' onSubmit='javascript:document.charset="UTF-8"; return zf_ValidateAndSubmit();' accept-charset='UTF-8' enctype='multipart/form-data' id='form'>
				<input type="hidden" name="zf_referrer_name" value="">
				<input type="hidden" name="zf_redirect_url" value="">
				<input type="hidden" name="zc_gad" value="">
				<div class="zf-templateWrapper"><!---------template Header Starts Here---------->
					<!-- <ul class="zf-tempHeadBdr">
						<li class="zf-tempHeadContBdr">
							<h2 class="zf-frmTitle"><em>Client Details</em></h2>
							<p class="zf-frmDesc">Let our agents find you the best coverage and deals from top-rated carriers.</p>
							<div class="zf-clearBoth"></div>
						</li>
					</ul> -->
					<div class="zf-subContWrap zf-topAlign">
						<ul>
							<li class="zf-tempFrmWrapper zf-small full_li">
								<label class="zf-labelName">I have a question about:
									<em class="zf-important">*</em>
								</label>
								<div class="zf-tempContDiv">
									<select class="zf-form-sBox" name="Dropdown" checktype="c1">
										<option selected="true" value="-Select-">-Select-</option>
										<option value="None">None</option>
										<option value="Become&#x20;an&#x20;agent">Become an agent</option>
										<option value="Affiliate&#x20;partnership">Affiliate partnership</option>
										<option value="Get&#x20;a&#x20;quote">Get a quote</option>
										<option value="My&#x20;policies">My policies</option>
									</select>
									<p id="Dropdown_error" class="zf-errorMessage" style="display:none;">Please select a question</p>
								</div>
								<div class="zf-clearBoth"></div>
							</li>
							<li class="zf-tempFrmWrapper zf-small">
								<label class="zf-labelName">Frist Name 
									<em class="zf-important">*</em>
								</label>
								<div class="zf-tempContDiv">
									<span> 
										<input type="text" name="SingleLine2" checktype="c1" value="" maxlength="255" fieldType=1 />
									</span> 
									<p id="SingleLine2_error" class="zf-errorMessage" style="display:none;">Please enter first name</p>
								</div>
								<div class="zf-clearBoth"></div>
							</li>
							<li class="zf-tempFrmWrapper zf-small">
								<label class="zf-labelName">Last Name 
									<em class="zf-important">*</em>
								</label>
								<div class="zf-tempContDiv">
									<span> 
										<input type="text" name="SingleLine3" checktype="c1" value="" maxlength="255" fieldType=1 />
									</span> 
									<p id="SingleLine3_error" class="zf-errorMessage" style="display:none;">Please enter last name</p>
								</div>
								<div class="zf-clearBoth"></div>
							</li>  
							<li class="zf-tempFrmWrapper zf-small">
								<label class="zf-labelName">Email 
									<em class="zf-important">*</em>
								</label>
								<div class="zf-tempContDiv">
									<span> 
										<input fieldType=9  type="text" maxlength="255" name="Email" checktype="c5" value=""/>
									</span> 
									<p id="Email_error" class="zf-errorMessage" style="display:none;">Please enter a valid email </p>
								</div>
								<div class="zf-clearBoth"></div>
							</li>
							<li class="zf-tempFrmWrapper zf-small">
								<label class="zf-labelName">Phone Number</label>
								<div class="zf-tempContDiv">
									<span> 
										<input type="text" compname="PhoneNumber" name="PhoneNumber_countrycode" maxlength="20" checktype="c7" value="" phoneFormat="1" isCountryCodeEnabled=true fieldType="11" id="international_PhoneNumber_countrycode" valType="number" phoneFormatType="1"/>
									</span>
									<div class="zf-clearBoth"></div>
									<p id="PhoneNumber_error" class="zf-errorMessage" style="display:none;">Please enter contact number </p>
								</div>
								<div class="zf-clearBoth"></div>
							</li>
							<li class="zf-tempFrmWrapper zf-small">
								<label class="zf-labelName">City 
									<em class="zf-important">*</em>
								</label>
								<div class="zf-tempContDiv">
									<span>
										<input type="text" name="SingleLine" checktype="c1" value="" maxlength="255" fieldType=1 />
									</span>
									<p id="SingleLine_error" class="zf-errorMessage" style="display:none;">Please enter your city</p>
								</div>
								<div class="zf-clearBoth"></div>
							</li>
							<li class="zf-tempFrmWrapper zf-small">
								<label class="zf-labelName">State
									<em class="zf-important">*</em>
								</label>
								<div class="zf-tempContDiv">
									<select class="zf-form-sBox" name="Dropdown1" checktype="c1">
										<option selected="true" value="-Select-">-Select-</option>
										<option value="Alabama">Alabama</option>
										<option value="Alaska">Alaska</option>
										<option value="Arizona">Arizona</option>
										<option value="Arkansas">Arkansas</option>
										<option value="California">California</option>
										<option value="Colorado">Colorado</option>
										<option value="Connecticut">Connecticut</option>
										<option value="Delaware">Delaware</option>
										<option value="Florida">Florida</option>
										<option value="Georgia">Georgia</option>
										<option value="Hawaii">Hawaii</option>
										<option value="Idaho">Idaho</option>
										<option value="Illinois">Illinois</option>
										<option value="Indiana">Indiana</option>
										<option value="Iowa">Iowa</option>
										<option value="Kansas">Kansas</option>
										<option value="Kentucky">Kentucky</option>
										<option value="Louisiana">Louisiana</option>
										<option value="Maine">Maine</option>
										<option value="Maryland">Maryland</option>
										<option value="Massachusetts">Massachusetts</option>
										<option value="Michigan">Michigan</option>
										<option value="Minnesota">Minnesota</option>
										<option value="Mississippi">Mississippi</option>
										<option value="Missouri">Missouri</option>
										<option value="Montana">Montana</option>
										<option value="Nebraska">Nebraska</option>
										<option value="Nevada">Nevada</option>
										<option value="New&#x20;Hampshire">New Hampshire</option>
										<option value="New&#x20;Jersey">New Jersey</option>
										<option value="New&#x20;Mexico">New Mexico</option>
										<option value="New&#x20;York">New York</option>
										<option value="North&#x20;Carolina">North Carolina</option>
										<option value="North&#x20;Dakota">North Dakota</option>
										<option value="Ohio">Ohio</option>
										<option value="Oklahoma">Oklahoma</option>
										<option value="Oregon">Oregon</option>
										<option value="Pennsylvania">Pennsylvania</option>
										<option value="Rhode&#x20;Island">Rhode Island</option>
										<option value="South&#x20;Carolina">South Carolina</option>
										<option value="South&#x20;Dakota">South Dakota</option>
										<option value="Tennessee">Tennessee</option>
										<option value="Texas">Texas</option>
										<option value="Utah">Utah</option>
										<option value="Vermont">Vermont</option>
										<option value="Virginia">Virginia</option>
										<option value="Washington">Washington</option>
										<option value="West&#x20;Virginia">West Virginia</option>
										<option value="Wisconsin">Wisconsin</option>
										<option value="Wyoming">Wyoming</option>
										<option value="Alabama">Alabama</option>
										<option value="Alaska">Alaska</option>
										<option value="Arizona">Arizona</option>
										<option value="Arkansas">Arkansas</option>
										<option value="California">California</option>
										<option value="Colorado">Colorado</option>
										<option value="Connecticut">Connecticut</option>
										<option value="Delaware">Delaware</option>
										<option value="Florida">Florida</option>
										<option value="Georgia">Georgia</option>
										<option value="Hawaii">Hawaii</option>
										<option value="Idaho">Idaho</option>
										<option value="Illinois">Illinois</option>
										<option value="Indiana">Indiana</option>
										<option value="Iowa">Iowa</option>
										<option value="Kansas">Kansas</option>
										<option value="Kentucky">Kentucky</option>
										<option value="Louisiana">Louisiana</option>
										<option value="Maine">Maine</option>
										<option value="Maryland">Maryland</option>
										<option value="Massachusetts">Massachusetts</option>
										<option value="Michigan">Michigan</option>
										<option value="Minnesota">Minnesota</option>
										<option value="Mississippi">Mississippi</option>
										<option value="Missouri">Missouri</option>
										<option value="Montana">Montana</option>
										<option value="Nebraska">Nebraska</option>
										<option value="Nevada">Nevada</option>
										<option value="New&#x20;Hampshire">New Hampshire</option>
										<option value="New&#x20;Jersey">New Jersey</option>
										<option value="New&#x20;Mexico">New Mexico</option>
										<option value="New&#x20;York">New York</option>
										<option value="North&#x20;Carolina">North Carolina</option>
										<option value="North&#x20;Dakota">North Dakota</option>
										<option value="Ohio">Ohio</option>
										<option value="Oklahoma">Oklahoma</option>
										<option value="Oregon">Oregon</option>
										<option value="Pennsylvania">Pennsylvania</option>
										<option value="Rhode&#x20;Island">Rhode Island</option>
										<option value="South&#x20;Carolina">South Carolina</option>
										<option value="South&#x20;Dakota">South Dakota</option>
										<option value="Tennessee">Tennessee</option>
										<option value="Texas">Texas</option>
										<option value="Utah">Utah</option>
										<option value="Vermont">Vermont</option>
										<option value="Virginia">Virginia</option>
										<option value="Washington">Washington</option>
										<option value="West&#x20;Virginia">West Virginia</option>
										<option value="Wisconsin">Wisconsin</option>
										<option value="Wyoming">Wyoming</option>
									</select>
									<p id="Dropdown1_error" class="zf-errorMessage" style="display:none;">Please enter state</p>
								</div>
								<div class="zf-clearBoth"></div>
							</li>
							<li class="zf-tempFrmWrapper zf-small full_li">
								<label class="zf-labelName">Refferd by 
									<em class="zf-important">*</em>
								</label>
								<div class="zf-tempContDiv">
									<span>
										<input type="text" name="SingleLine1" checktype="c1" value="" maxlength="255" fieldType=1 />
									</span>
									<p id="SingleLine1_error" class="zf-errorMessage" style="display:none;">Please enter a valid value</p>
								</div>
								<div class="zf-clearBoth"></div>
							</li>
							<li class="zf-tempFrmWrapper zf-small full_li">
								<label class="zf-labelName">Additional comments</label>
								<div class="zf-tempContDiv">
									<span> 
										<textarea name="MultiLine" checktype="c1" maxlength="65535"></textarea>
									</span>
									<p id="MultiLine_error" class="zf-errorMessage" style="display:none;">Invalid value</p>
								</div>
								<div class="zf-clearBoth"></div>
							</li>
							<li class="zf-tempFrmWrapper zf-small ">
								<label class="zf-labelName" style="display:none;" >type </label>
								<div class="zf-tempContDiv">
									<span> 
										<input type="hidden" name="SingleLine4" checktype="c1" value="" maxlength="255" fieldType=1 />
									</span> 
									<p id="SingleLine4_error" class="zf-errorMessage" style="display:none;">Invalid value</p>
								</div>
								<div class="zf-clearBoth"></div>
							</li>
						</ul>
					</div>
					<ul class="mb-5">
						<li class="zf-fmFooter full_li" style="text-align: center;">
							<button class="zf-submitColor btn btn-black" >Submit</button>
						</li>
					</ul>
				</div>
			</form>
		</div>
	</div>
</div>
<% include partials/footer.ejs %>
	</body>
</html>
<script type="text/javascript">var zf_DateRegex = new RegExp("^(([0][1-9])|([1-2][0-9])|([3][0-1]))[-](Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec|JAN|FEB|MAR|APR|MAY|JUN|JUL|AUG|SEP|OCT|NOV|DEC)[-](?:(?:19|20)[0-9]{2})$");
var zf_MandArray = [ "Dropdown", "SingleLine2", "SingleLine3", "Email", "SingleLine", "Dropdown1", "SingleLine1"]; 
var zf_FieldArray = [ "Dropdown", "SingleLine2", "SingleLine3", "Email", "PhoneNumber_countrycode", "PhoneNumber_countrycodeVal", "SingleLine", "Dropdown1", "SingleLine1", "MultiLine", "SingleLine4"]; 
var isSalesIQIntegrationEnabled = false;
var salesIQFieldsArray = [];</script>

<style>
.zf-templateWidth {
    display: flex;
}
#zoho-form-custom {
    display: block;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}
#zoho-form-custom ul {
    padding: 0;
    margin: 0;
    line-height: normal;
    list-style: none;
}
#zoho-form-custom ul li {
    width: 50%;
    float: left;
	position: relative;
	margin-bottom: 30px;
}
#zoho-form-custom ul li.full_li {
    width: 100%;
    float: left;
}
#zoho-form-custom ul li select, #zoho-form-custom ul li input, #zoho-form-custom ul li textarea {
    width: 98%;
    background: #fff;
    border: none;
    height: 56px;
    border-radius: 5px;
    color: #999;
    padding: 12px 16px;
}
#zoho-form-custom ul li.full_li select, #zoho-form-custom ul li.full_li input, #zoho-form-custom ul li.full_li textarea {
	width: 99%;
}
#zoho-form-custom ul li textarea{
	height: 150px;
}
#zoho-form-custom textarea:focus, #zoho-form-custom input:focus, #zoho-form-custom select:focus, #zoho-form-custom button:focus{
	outline: none;
}
#zoho-form-custom .zf-errorMessage {
    position: absolute;
    bottom: -40px;
    font-size: 14px !important;
    color: red;
}
#zoho-form-custom ul li span {
    margin-bottom: 0;
}
</style>