<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Defy</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&amp;display=swap" rel="stylesheet">
		<style>
		    @media (max-width:600px) {
			    td{
				   padding:0px 10px !important;
				}
			}
		</style>
	</head>
	<body>
		<div align="center" style="max-width:680px; width:100%;margin:0 auto; display:flex;">
			<table style="font-family: 'Roboto', sans-serif; border:1px solid #eee;border-collapse: collapse;">
				<tbody>
					<tr align="center" style="">
						<td style="padding:24px 0px; background-color: #21ce99;"><img src="logo.png" width="100" alt="corona-fact-logo"/></td>
					</tr>
					<tr align="center">
						<td style="padding:0 60px;">
							<p style="font-size:35px; color: #21ce99;font-weight: 400; margin:50px 0 10px;">How can we make Defy better?</p>
						</td>
					</tr>
					<tr align="center">
						<td style="padding:0 60px;">
							<p style="font-size:20px; line-height:24px; color:#0f1626; margin:0;line-height: 1.4;">Will you help us take our game up by <a href="#" style="color: #21ce99;">answering a few quick questions?</a></p>
						</td>
					</tr>
					<tr align="center">
					    <td style="padding:0 60px;">
						    <p style="font-size: 20px; line-height:24px; color:#0f1626; margin:40px 0px 0px;line-height: 1.4; font-weight: 500;">How likely re you to recommend Defy to a friend  or colleague?</p>
							<div style="margin:20px 0px;">
							    <a style="background: #21ce99; border-radius: 50%; color: #fff; text-decoration: none; font-size: 18px;  height: 40px; width: 40px; line-height: 40px; display: inline-block; text-align: center;" href="#">0</a>
								<a style="background: #21ce99; border-radius: 50%; color: #fff; text-decoration: none; font-size: 18px;  height: 40px; width: 40px; line-height: 40px; display: inline-block; text-align: center;" href="#">1</a>
								<a style="background: #21ce99; border-radius: 50%; color: #fff; text-decoration: none; font-size: 18px;  height: 40px; width: 40px; line-height: 40px; display: inline-block; text-align: center;" href="#">2</a>
								<a style="background: #21ce99; border-radius: 50%; color: #fff; text-decoration: none; font-size: 18px;  height: 40px; width: 40px; line-height: 40px; display: inline-block; text-align: center;" href="#">3</a>
								<a style="background: #21ce99; border-radius: 50%; color: #fff; text-decoration: none; font-size: 18px;  height: 40px; width: 40px; line-height: 40px; display: inline-block; text-align: center; href="#">4</a>
								<a style="background: #21ce99; border-radius: 50%; color: #fff; text-decoration: none; font-size: 18px;  height: 40px; width: 40px; line-height: 40px; display: inline-block; text-align: center;" href="#">5</a>
								<a style="background: #21ce99; border-radius: 50%; color: #fff; text-decoration: none; font-size: 18px;  height: 40px; width: 40px; line-height: 40px; display: inline-block; text-align: center;" href="#">6</a>
								<a style="background: #21ce99; border-radius: 50%; color: #fff; text-decoration: none; font-size: 18px;  height: 40px; width: 40px; line-height: 40px; display: inline-block; text-align: center;" href="#">7</a>
								<a style="background: #21ce99; border-radius: 50%; color: #fff; text-decoration: none; font-size: 18px;  height: 40px; width: 40px; line-height: 40px; display: inline-block; text-align: center;" href="#">8</a>
								<a style="background: #21ce99; border-radius:50%; color: #fff; text-decoration: none; font-size: 18px; height: 40px; width: 40px; line-height: 40px; display: inline-block; text-align: center;" href="#">9</a>
								<a style="background: #21ce99; border-radius: 50%; color: #fff; text-decoration: none; font-size: 18px; height: 40px; width: 40px; line-height: 40px; display: inline-block; text-align: center;" href="#">10</a>
							</div>
						</td>
					</tr>
					<tr align="center">
						<td style="padding:0 60px;">
							<p style="font-size:20px; line-height:1.3; color:#0f1626; margin:0;font-weight:400;margin:30px 0 50px;"> We take your candid feedback seriously and will use it to improve our experience. Thanks for your time!</p>
						</td>
					</tr>
					<tr align="center">
						<td style="padding:0px 60px;">
							<button style="background: #21ce99;border: none; padding: 18px 40px; border-radius: 50px; color: #fff; font-size: 20px;margin:0 5px;" type="button">Take Me to the Survey</button>
						</td>
					</tr>
					<tr align="center">
						<td style="padding:0px 60px;">
							<p style="border-top:1px solid #eee;margin:50px 0px 48px;"></p>
						</td>
					</tr>
					<tr align="center">
						<td style="padding:0 60px;">
							<p style="font-size:20px; color:#0f1626;font-weight: 400; margin:0px 0 5px;line-height:1.3">Sincerely,</p>
							<p style="font-size:20px; color:#0f1626;font-weight: 400; margin:0px 0 5px;line-height:1.3">Monica Wilkens</p>
							<p style="font-size:20px; color:#0f1626;font-weight: 400; margin:0px 0 50px;line-height:1.3">Chief Customer Experience Officer</p>
						</td>
					</tr>
					<tr align="center">
						<td style="border-top:1px solid #eee;">
						</td>
					</tr>
					<tr align="center" style="">
						<td style="padding:0px 60px; background-color: #21ce99;">
						    <div style="margin:40px 0px;">
								<img src="logo.png" width="100" alt="corona-fact-logo"/>
								<p style="font-size:30px; color:#0f1626;font-weight: 400; margin:10px 0 30px;line-height:1.3">A Lockton Company</p>
								<p style="font-size:18px; line-height:24px; color:#0f1626; margin:0 0 0px;line-height: 1.4;">Smart, fast and friendly, Defy guides you through top-rated insurance plans in one convenient spot. Powered by Lockton, the world's largest independent broker with 50+ years of experience connecting people to plans they can trust.</p>
							</div>
						</td>
					</tr>
					<tr align="center">
					    <td style=" padding:0px 60px;background-color: #0a0c0e; ">
						    <div style="margin:40px 0px;">
								<a href="#"><img style="border-radius:25px; color:#000;" src="icon.png" width="40" alt="email-icon"></a>
								<a href="#"><img style="margin:0px 25px; border-radius:25px;" src="icon2.png" width="40" alt="email-icon"></a>
								<a href="#"><img style=" border-radius:25px;" src="icon3.png" width="40" alt="email-icon"></a>
								<p style="line-height:24px; font-size:14px; color:#fff; margin:20px 0px 0px;line-height: 1.5;">© 2020, 2130 Fulton St, San Francisco, CA 94117, United States.</p>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>			