<!DOCTYPE html>
<html lang="en">
    <% include ../partials/head.ejs %>
    <body class="hold-transition sidebar-mini">
        <div class="wrapper">
            <% include ../partials/header.ejs %>
            <% include ../partials/sidebar.ejs %>
            <!-- Content Wrapper. Contains page content -->
            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                <div class="content-header">
                    <div class="container-fluid">
                        <div class="row mb-2">
                            <div class="col-sm-6">
                                <h1 class="m-0 text-dark">Vehicle Model(<%= make %>)</h1>
                            </div><!-- /.col -->
                            <div class="col-sm-6">
                                <ol class="breadcrumb float-sm-right">
                                    <li class="breadcrumb-item">
                                        <a href="/admin/dashboard">
                                            <i class="fa fa-tachometer-alt"></i> Dashboard
                                        </a>
                                    </li>
                                    <li class="breadcrumb-item active">Vehicle Model</li>
                                </ol>
                            </div><!-- /.col -->
                        </div><!-- /.row -->
                    </div><!-- /.container-fluid -->
                </div>
                <!-- /.content-header -->

                <!-- Main content -->
                <section class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <% var messages = getMessages()
                                if (messages.error_message){ %>
                                    <div class="alert alert-danger alert-dismissible">
                                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                                        <%= messages.error_message %>
                                    </div>
                                <% } %>
                                <div class="card card-primary">
                                    <div class="card-header">
                                        <h3 class="card-title">Add Model(<%= make %>)</h3>
                                    </div>
                                    <!-- /.card-header -->
                                    <form role="form" action="/admin/model/add/<%= make_id %>" method="post" id="AddUpdateModelForm">
                                        <div class="card-body">
                                            <div class="form-group">
                                                <label for="name">Model</label>
                                                <input type="text" class="form-control" id="model" placeholder="Enter Model" name="model" value="">
                                            </div>
                                        </div>
                                        <!-- /.card-body -->

                                        <div class="card-footer">
                                            <input type="button" name="btn_sub" id="btn_sub" class="btn btn-primary" value="Add" onClick="validateModelForm();">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- /.row -->

                    </div><!--/. container-fluid -->
                </section>
                <!-- /.content -->
            </div>
            <!-- /.content-wrapper -->
            <!-- /.content-wrapper -->
            <% include ../partials/footer.ejs %>
    </body>
</html>   
