<section class="banner" style="background-color: #12bcc5;">
    <div class="banner-content">
        <div class="banner-inner featured-section">
            <div class="row justify-content-center">
                <div class="col-lg-9 text-center col-12">
                    <div class="section-header mb-4">
                        <h2 class="section-title white_heading">Insurance for other aspects of your life</h2>
                    </div> 
                </div>
            </div>
            <div class="row justify-content-center mb-5">
                <div class="col-sm-6 col-md-4">
                    <div class="card featured-card border-style">
                        <h4>Auto</h4>
                        <div class="card-icon">
                            <img src="/web_assets/assets/img/green-img/icon-green-6.png" class="product_active" width="100px"/>
                            <img src="/web_assets/assets/img/green-img/icon-green-6-before.png" class="product_inactive" width="100px"/>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="card featured-card border-style">
                        <h4>Home</h4>
                        <div class="card-icon">
                            <img src="/web_assets/assets/img/green-img/icon-green-8.png" class="product_active" width="100px"/>
                            <img src="/web_assets/assets/img/green-img/icon-green-8-before.png" class="product_inactive" width="100px"/>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="card featured-card border-style">
                        <h4>Business</h4>
                        <div class="card-icon">
                            <img src="/web_assets/assets/img/green-img/icon-green-10.png" class="product_active" width="100px"/>
                            <img src="/web_assets/assets/img/green-img/icon-green-10-before.png" class="product_inactive" width="100px"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
