<!DOCTYPE html>
<html lang="en">
<% include partials/head.ejs %>

    <body class="hold-transition sidebar-mini">
        <div class="wrapper">
            <% include partials/header.ejs %>
                <% include partials/sidebar.ejs %>
                    <!-- Content Wrapper. Contains page content -->
                    <!-- Content Wrapper. Contains page content -->
                    <div class="content-wrapper">
                        <!-- Content Header (Page header) -->
                        <div class="content-header">
                            <div class="container-fluid">
                                <div class="row mb-2">
                                    <div class="col-sm-6">
                                        <h1 class="m-0 text-dark">Change Password</h1>
                                    </div>
                                    <!-- /.col -->
                                    <div class="col-sm-6">
                                        <ol class="breadcrumb float-sm-right">
                                            <li class="breadcrumb-item">
                                                <a href="/referral/dashboard">
                                                    <i class="fa fa-tachometer-alt"></i> Dashboard
                                                </a>
                                            </li>
                                            <li class="breadcrumb-item active">Change Password</li>
                                        </ol>
                                    </div>
                                    <!-- /.col -->
                                </div>
                                <!-- /.row -->
                            </div>
                            <!-- /.container-fluid -->
                        </div>
                        <!-- /.content-header -->

                        <!-- Main content -->
                        <section class="content">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-12">
                                        <% var messages = getMessages()
                                            if (messages.error_message){ %>
                                            <div class="alert alert-danger alert-dismissible">
                                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                                <%= messages.error_message %>
                                            </div>
                                            <% } if (messages.success_message){ %>
                                                <div class="col-12 col-md-12 alert alert-success alert-dismissible">
                                                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                                                    <%= messages.success_message %>
                                                </div>
                                                <% } %>
                                                <div class="card card-primary">
                                                    <div class="card-header">
                                                        <h3 class="card-title">Change Password</h3>
                                                    </div>
                                                    <!-- /.card-header -->
                                                    <form role="form" action="" method="post" id="" enctype="multipart/form-data">
                                                        <div class="card-body">
                                                            <div class="form-group">
                                                                <label for="name">Old Password</label>
                                                                <input class="form-control" type="password"  name="old_pass" id="first_name">
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="name">New Password</label>
                                                                <input class="form-control" type="password" name="new_pass" id="last_name">
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="name">confirm Password</label>
                                                                <input class="form-control" type="password" name="confirm_pass" id="last_name">
                                                            </div>
                                                            </div>
                                                            <div class="card-footer">
                                                                <input type="submit" name="btn_sub" id="btn_sub" class="btn btn-primary" value="Change">
                                                            </div>
                                                            </form>
                                                            </div>
                                    </div></div>
                                    </div>
                                    </section>
            </div>
        <% include partials/footer.ejs %>
    </body>

</html>