<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/admin/dashboard" class="brand-link">
        <img src="/admin_assets/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">Defy Insurance</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="/admin_assets/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a class="d-block">
                    <%- AdminResult.name %>
                </a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a href="/admin/dashboard" class="nav-link">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/category/list" class="nav-link">
                        <i class="nav-icon fas fa-tags"></i>
                        <p>Category</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/video/list" class="nav-link">
                        <i class="nav-icon fas fa-video"></i>
                        <p>Videos</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/blog/list" class="nav-link">
                        <i class="nav-icon fas fa-tags"></i>
                        <p>Blogs</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/teams/list" class="nav-link">
                        <i class="nav-icon fas fa-users"></i>
                        <p>Team Members</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/agent/list" class="nav-link">
                        <i class="nav-icon fas fa-tags"></i>
                        <p>Agents</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/referralList" class="nav-link">
                        <i class="nav-icon fas fa-tags"></i>
                        <p>Referals</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/user_list" class="nav-link">
                        <i class="nav-icon fas fa-users"></i>
                        <p>Users</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/insurance_details" class="nav-link">
                        <i class="nav-icon fas fa-users"></i>
                        <p>Insurance List</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/partnership_requests" class="nav-link">
                        <i class="nav-icon fas fa-car"></i>
                        <p>Partnership Requests</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/policy_review_request" class="nav-link">
                        <i class="nav-icon fas fa-car"></i>
                        <p>Policy Review Requests</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/carrierList" class="nav-link">
                        <i class="nav-icon fas fa-car"></i>
                        <p>Carriers</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/careersList" class="nav-link">
                        <i class="nav-icon fas fa-car"></i>
                        <p>Careers</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/appliedJobList" class="nav-link">
                        <i class="nav-icon fas fa-car"></i>
                        <p>Applied Job</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/claimList" class="nav-link">
                        <i class="nav-icon fas fa-car"></i>
                        <p>Claim Requests</p>
                    </a>
                </li>
                <!-- <li class="nav-item">
                    <a href="/admin/insurance_list/1" class="nav-link">
                        <i class="nav-icon fas fa-car"></i>
                        <p>Auto Quotes</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/insurance_list/2" class="nav-link">
                        <i class="nav-icon fas fa-home"></i>
                        <p>Home Quotes</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/insurance_list/3" class="nav-link">
                        <i class="nav-icon fas fa-briefcase"></i>
                        <p>Business Quotes</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/insurance_list/4" class="nav-link">
                        <i class="nav-icon fas fa-briefcase"></i>
                        <p>Work Compensation Quotes</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/other_insurance" class="nav-link">
                        <i class="nav-icon fas fa-list"></i>
                        <p>Other Insurance Quotes</p>
                    </a>
                </li> -->
                <li class="nav-item">
                    <a href="/admin/contact_us_list" class="nav-link">
                        <i class="nav-icon fas fa-envelope"></i>
                        <p>Contact Us</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/refer_list" class="nav-link">
                        <i class="nav-icon fas fa-users"></i>
                        <p>Referal List</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/e-book" class="nav-link">
                        <i class="nav-icon fas fa-book"></i>
                        <p>E-Book</p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>